.complex {
  --v-padding: 150px;
  padding-bottom: var(--v-padding);
  &__title {
    @include row-flex();
    .title-big {
      @include shift-left(1);
      @include shift-right(0);
      @include size(11);
    }
  }
  &-1,
  &-2,
  &-3,
  &-4,
  &-5 {
    &__img {
      margin-top: 50px;
    }
  }
   &-2,
   &-3,
   &-4,
   &-5 {
     padding-top: 150px;
     .title-inner-page {
       margin-top: 0;
     }
   }
   &-1,
   &-3,
   &-4,
   &-5 {
    position: relative;
    @include row-flex();
    .title-inner-page {
      @include shift-left(1);
      @include shift-right(0);
      @include size(11);
    }
    &__img {
      @include shift-left(1);
      @include shift-right(1);
      @include size(10);
    }
   }
   &-1,
   &-4 {
    &__wrapper {
      @include shift-left(0);
      @include shift-right(5.5);
      @include size(6.5);
      padding: 150px 150px 150px calc(8.33333% + 15px + var(--page-side-fields));
      background-color: #EBEFF4;
      position: absolute;
      left: -70px;
      bottom: 0;
      // .text, 
      // .big-text {
      //   max-width: 573px;
      // }
      .text {
        margin-bottom: 30px;
      }
    }
  }
  &-1 {
    &__img {
      margin-bottom: 470px;
    }
    &__wrapper {
      .button-green {
        margin-top: 20px;
      }
    }
    &-bg {
      position: absolute;
      right: -70px;
      bottom: 0;
      z-index: -1;
    }
  }
  &-2 {
    &__wrapper-big {
      position: relative;
      @include row-flex();
      .title-inner-page {
        @include shift-left(1);
        @include shift-right(0);
        @include size(11);
      }
    }
    &__img {
      margin-bottom: 210px;
      @include shift-left(1);
      @include shift-right(1);
      @include size(10);
    }
    &__wrapper {
      @include shift-left(4.5);
      @include shift-right(0);
      @include size(7.5);
      padding: 150px 0 150px 150px;
      background-color: #EBEFF4;
      position: absolute;
      right: -70px;
      bottom: 0;
      .text {
        max-width: 573px;
        margin-bottom: 0;
      }
    }
    &__items {
      @include row-flex();
      align-items: center;
    }
    &__item-1,
    &__item-3,
    &__item-5,
    &__item-7 {
      @include shift-left(1);
      @include shift-right(1);
      @include size(4);
    }
    &__item-2, 
    &__item-6 {
      @include shift-left(0);
      @include shift-right(3);
      @include size(3);
    }
    &__item-3,
    &__item-7 {
      .complex-2__text {
        margin: 0 auto;
      }
    }
    &__item-4,
    &__item-8 {
      @include shift-left(0);
      @include shift-right(2);
      @include size(4);
    }
    &__item {
      margin-top: 50px;
    }
    &__text {
      max-width: 423px;
    }
  }
  &-3,
  &-5 {
    &__wrapper {
      @include shift-left(4.5);
      @include shift-right(0);
      @include size(7.5);
      padding: 150px calc(8.33333% + 15px + var(--page-side-fields)) 150px 150px;
      background-color: #EBEFF4;
      position: absolute;
      right: -70px;
      bottom: 0;
      .text,
      .big-text {
        max-width: 573px;
      }
    }
    &-bg {
      position: absolute;
      left: -70px;
      bottom: 0;
      z-index: -1;
    }
  }
  &-3 {
    &__img {
      margin-bottom: 470px;
    }
  }
  &-4 {
    &__img {
      margin-bottom: 388px;
    }
  }
  &-5 {
    &__img {
      margin-bottom: 412px;
    }
    &-bg {
      left: -120px;
    }
  }
}