.contact {
  width: 100%;
  height: 100%;
  background: url('../images/img/footer-bg.png') bottom left / 100% auto no-repeat,
    #26262C;
  &__wrapper {
    @include row-flex();
    padding: 30px 70px 80px 70px;
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    .title-big {
      margin-top: 0;
      margin-bottom: 30px;
      @include shift-left(1);
      @include shift-right(0);
      @include size(11);
      color: #EBEFF4;
    }
  }
  &__left {
    @include shift-left(1);
    @include shift-right(1);
    @include size(4);
    background-color: var(--white);
    padding: 80px;
    form {
      .title-inner-page {
        margin-top: 0;
        text-transform: none;
        margin-bottom: 20px;
      }
      .small-text {
        line-height: 140%;
        color: #717386;
        
      }
      .mb50 {
        margin-bottom: 50px;
        width: 300px;
      }
      .mb30 {
        margin-bottom: 30px;
      }
      .mt50 {
        margin-top: 50px;
      }
      .form-field:not(#t) {
        position: relative;
        height: 83px;
        width: 100%;
      }
      .button-green {
        margin-top: 20px;
      }
      .form-field {
        &-message {
          margin-bottom: 9px;
          font-size: 14px;
          line-height: 100%;
          color: #717386;
        }
        &__input {
          display: block;
          width: 100%;
          height: 60px;
          padding: 15px 20px;
          background-color: #F7F5FB;
          border: 1px solid #C8C8C8;
          font-family: $default-font;
          font-style: normal;
          font-weight: normal;
          font-size: 19px;
          line-height: 150%;
          color: #40414F;
          &::placeholder {
            font-family: $default-font;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 150%;
            color: #40414F;
          }
        }
        .place-holder {
          display: block;
          height: 60px;
          width: 100%;
          margin-top: 23px;
          padding: 15px 20px;
          position: absolute;
          top: 0;
          left: 0;
          cursor: text;
          font-weight: normal;
          font-size: 19px;
          line-height: 150%;
          color: #40414F;
          background-color: #F7F5FB;
          border: 1px solid #C8C8C8;
        }
        .mask-absolute,
        .js-mask-absolute {
          font-size: 19px;
          line-height: 150%;
          color: #40414F;
        }
        .input-message {
          margin-top: 5px;
          font-size: 10px;
          line-height: 140%;
          color: #FE3838;
        }
      }
    }
  }
  &__right {
    @include shift-left(0);
    @include shift-right(0);
    @include size(6);
    &-items {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      row-gap: 40px;
    }
    &-item {
      .subtitle {
        margin-bottom: 10px;
        color: #96969F;
      }
      .text {
        margin-bottom: 0;
        font-weight: normal;
        font-size: 22px;
        line-height: 100%;
        color: var(--white);
        a {
          color: var(--white);
          text-decoration: none;
        }
      }
      .mb10 {
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }

  .footer {
    &__bg {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }

    &__wrapper {
      @include shift-left(0);
      @include shift-right(1);
      @include size(11);
      padding-left: 70px;
    }

    &__content {
      background: linear-gradient(90deg, #38383C 0%, rgba(56, 56, 60, 0) 100%);
      background-position: top left;
      background-size: 100% 1px;
      background-repeat: no-repeat;
      padding-top: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .small-text {
        color: #96969F;
      }

      &-item {
        a {
          color: #96969F;
          text-decoration: none;
        }

        &-img {
          width: 64px;
          height: 70px;
          background-color: #E9E9E9;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}