.gallery {
  position: relative;
  height: calc(100vh - 237px);
  z-index: 0;
  &__title {
    @include row-flex();
    position: relative;
    z-index: 2;
    .title-big {
      @include shift-left(1);
      @include shift-right(0);
      @include size(11);
      color: #EBEFF4;
    }
  }
  &__background {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 205px;
    background: linear-gradient(180deg, rgba(20, 20, 22, 0) 0%, rgba(20, 20, 22, 0.8) 72.4%);
  }
  .slider {
    pointer-events: none;
    position: absolute;
    top: -237px;
    left: 0;
    width: 100vw;
    &__image {
      height: 100vh;
      img {
        width: 100vw;
        height: 100vh;
      }
    }
    .slick-prev {
      margin-right: calc(55px + 30px);
    }
    .slick-next,
    .slick-prev {
      position: absolute;
      right: 221px;
      bottom: 76px;
      z-index: 3;
      width: 55px;
      height: 55px;
      background-color: #89AB26;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: all;
    }
    .slider-count {
      position: absolute;
      left: calc(70px + 8.33333%);
      bottom: 70px;
      z-index: 3;
      span {
        &:first-child {
          font-style: italic;
          font-weight: 300;
          font-size: var(--fz-4);
          line-height: 100%;
          text-align: right;
          color: #FFFFFF;
        }

        &:last-child {
          font-family: Inter;
          font-style: normal;
          font-weight: 300;
          font-size: var(--fz-7);
          line-height: 100%;
          color: #FFFFFF;
        }
      }
      svg {
        margin: 0 4px -5px 2px;
      }
    }
    .slick-list {
      overflow: hidden;
      z-index: -1;
    }
    .slick-track {
      display: flex;
      align-items: flex-start;
    }
  }
}

