.inner-page {
  --v-padding: 150px;
  padding-bottom: var(--v-padding);
  @include row-flex();
  .title-inner-page {
    margin-bottom: 30px;
    @include shift-left(1);
    @include shift-right(0);
    @include size(11);
  }
  
  &__date {
    @include shift-left(0);
    @include shift-right(0);
    @include size(1);
    text-align: right;
  }
  &__img {
    @include shift-left(0);
    @include shift-right(0);
    @include size(6);
    text-align: right;
  }
  &__content {
    @include shift-left(1);
    @include shift-right(0);
    @include size(4);
    .text {
      margin-bottom: 30px;
    }
    .mt30 {
      margin-top: 30px;
    }
    .mb20 {
      margin-bottom: 20px;
    }
    &-list {
      position: relative;
      margin-bottom: 15px;
      margin-left: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #8BB514;
      }
    }
  }
  &__date {
    font-size: 19px;
    line-height: 160%;
    color: #40414F;
  }
}