.planning {
  padding-bottom: 150px;
  &__title {
    @include row-flex();
    .title-big {
      @include shift-left(1);
      @include shift-right(0);
      @include size(11);
    }
  }
  &-1 {
    position: relative;
    @include row-flex();
    &__img {
      margin-top: 50px;
      margin-bottom: 289px;
      @include shift-left(1);
      @include shift-right(1);
      @include size(10);
    }
    &__wrapper {
      @include shift-left(6);
      @include shift-right(0);
      width: calc(50% - 30px + var(--page-side-fields));
      padding: 150px calc(8.33333% + 15px + var(--page-side-fields)) 150px 150px;
      background-color: #EBEFF4;
      position: absolute;
      right: -70px;
      bottom: 0;
      .text {
        margin-bottom: 30px;
      }
      .big-text {
        font-size: var(--fz-big-text);
      }
    }
  }
  &-2,
  &-4,
  &-6 {
    position: relative;
    @include row-flex();
    justify-content: flex-end;
    align-items: center;
    min-height: 850px;
    margin-top: 100px;
    &__wrapper {
      @include shift-left(0);
      @include shift-right(5);
      width: calc(58.33333% - 30px + var(--page-side-fields));
      position: absolute;
      top: 0;
      left: -70px;
      z-index: -1;
      background-color: #EBEFF4;
      padding: 0 0 0 calc(8.33333% + var(--page-side-fields));
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title-inner-page {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: var(--fz-title-inner-page);
      }
      .title-inner-page,
      .text,
      .big-text {
        width: 573px;
      }
      .text {
        margin-bottom: 30px;
      }
      .big-text {
        font-size: var(--fz-big-text-1);
      }
      .mt20 {
        margin-top: 20px;
      }
    }
    &__img {
      position: relative;
      @include shift-left(0);
      @include shift-right(0);
      @include size(6.6);
      img {
        width: 100%;
      }
    }
  }
  &-3,
  &-5 {
    @include row-flex();
    min-height: 700px;
    margin-top: 100px;
    align-items: center;
    &__img {
      position: relative;
      @include shift-left(0);
      @include size(6.5);
      img {
        width: 100%;
      }
    }
    &__wrapper {
      @include shift-left(0.5);
      @include shift-right(1);
      @include size(4);
      .title-inner-page {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: var(--fz-title-inner-page);
      }
      .text {
        margin-bottom: 30px;
      }
      .big-text {
        font-size: var(--fz-big-text-1);
      }
      .mt20 {
        margin-top: 20px;
      }
    }
  }
}
@media (max-width: 1600px) {
  .planning {
    padding-bottom: 100px;
    &-1 {
      &__img {
        margin-top: 40px;
        margin-bottom: 240px;
      }
      &__wrapper {
        padding: 80px calc(8.33333% + var(--page-side-fields)) 80px 107px;
        right: -50px;
        .text {
          margin-bottom: 20px;
        }
      }
    }
    &-2,
    &-4,
    &-6 {
      min-height: 618px;
      margin-top: 80px;
      &__wrapper {
        left: -50px;
        .title-inner-page,
        .text,
        .big-text {
          width: 409px;
        }
        .text {
          margin-bottom: 20px;
        }
        .mt20 {
          margin-top: 10px;
        }
      }
    }
    &-3,
    &-5 {
      min-height: 498px;
      margin-top: 80px;
      &__wrapper {
        .text {
          margin-bottom: 20px;
        }
        .mt20 {
          margin-top: 10px;
        }
      }
    }
  }
}