.promotions-news {
  --v-padding: 150px;
  padding-bottom: var(--v-padding);
  @include row-flex();
  // margin-right: 0;
  // margin-left: 0;
  // padding: 0 70px 150px 70px;
  &__wrapper {
    @include shift-left(1);
    @include shift-right(1);
    @include size(10);
    .button-green {
      margin: 50px auto 0 auto;
    }
  }
  &__tabs {
    display: flex;
    margin: 30px 0;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #40414F;
  }
  &__tab {
    margin-right: 35px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  &-active {
    font-weight: 500;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  &__item {
    position: relative;
    text-decoration: none;
    &:hover .promotions-news__img img {
      transform: scale(1.05);
    }
    &:hover .promotions-news__title {
      text-decoration: 1px;
      text-decoration-color: #40414F;
      text-decoration-style: solid;
      text-decoration-line: underline;
      text-underline-position: under;
    }
  }
  &__img {
    overflow: hidden;
    img {
      width: 100%;
      transition: transform .5s ease-in-out;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: var(--fz-9);
    line-height: 160%;
    color: #40414F;
  }
  &__tab-name {
    position: absolute;
    top: 30px;
    right: 0;
    min-width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8BB514;
    font-size: var(--fz-14);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #EBEFF4;
  }
}