.promotions-news {
  --v-padding: 150px;
  padding-bottom: var(--v-padding);
  @include row-flex();
  &__wrapper {
    @include shift-left(1);
    @include shift-right(1);
    @include size(10);
    .button-green {
      margin: 50px auto 0 auto;
    }
  }
  &__tabs {
    display: flex;
    margin: 30px 0;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #40414F;
  }
  &__tab {
    margin-right: 35px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
  &-active {
    font-weight: 600;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  &__item {
    position: relative;
    text-decoration: none;
    &:hover .promotions-news__img img {
      transform: scale(1.05);
    }
    &:hover .promotions-news__title {
      text-decoration: 1px;
      text-decoration-color: #40414F;
      text-decoration-style: solid;
      text-decoration-line: underline;
      text-underline-position: under;
    }
  }
  &__img {
    overflow: hidden;
    img {
      width: 100%;
      transition: transform .5s ease-in-out;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-top: 20px;
    font-size: 19px;
    line-height: 160%;
    color: #40414F;
  }
  &__date {
    margin-top: 27px;
    font-weight: 300;
    font-size: var(--fz-11);
    letter-spacing: 0.1em;
    color: #717386;
  }
  &__tab-name {
    position: absolute;
    top: 30px;
    right: 0;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8BB514;
    font-size: var(--fz-14);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #EBEFF4;
  }
}
@media (max-width: 1600px) {
  .promotions-news {
    --v-padding: 100px;
    &__wrapper {
      .button-green {
        margin: 40px auto 0 auto;
      }
    }
    &__tabs {
      margin: 20px 0;
      font-size: 14px;
    }
    &__tab {
      margin-right: 30px;
    }
    &__content {
      gap: 40px;
    }
    &__title {
      margin-top: 15px;
      font-size: 14px;
    }
    &__date {
      margin-top: 20px;
    }
    &__tab-name {
      top: 20px;
      width: 110px;
      height: 30px;
    }
  }
}
@media (max-width: 992px) {
  .promotions-news {
    &__wrapper {
      @include shift-left(0);
      @include shift-right(0);
      @include size(12);
      .button-green {
        margin: 30px auto 0 auto;
      }
    }
    &__content {
      gap: 30px;
    }
    &__title {
      margin-top: 10px;
    }
    &__date {
      margin-top: 15px;
    }
    &__tab-name {
      width: 100px;
    }
  }
}
@media (max-width: 576px) {
  .promotions-news {
    --v-padding: 60px;
    &__tab {
      margin-right: 20px;
    }
    &__content {
      grid-template-columns: 100%;
      row-gap: 40px;
      column-gap: 0;
    }
  }
}