header
  .header
    .header__left
      a#header-popup.header__left-button.button.button--calypso(data-modal='consultation' href='#')
        span Замовити дзвінок
      a.header__left-tel(href='tel:+380671106104') +38 067 110 61 04
      a#header-button.header__left-button-mobile.button.button--calypso
        span Обрати квартиру
    a.header__logo(href='index.html')
      img(src="./assets/images/img/logo.svg", alt="logo")
    .header__right
      a#header-right-button.header__right-button.button.button--calypso
        span Обрати квартиру
      a.header__right-popup-mobile(data-call-mobile-callback-popup='')
        img(src='./assets/images/img/popup-mobile.svg' alt='popup-mobile' data-modal='consultation')
      #header-right-button-menu.header__right-button-menu
        span.header__right-text Меню
        button.header__right-burg
          span.header__right-burg-line
          span.header__right-burg-line
          span.header__right-burg-line
    .header__bg
  .header-mobile
    a.header-mobile__logo(href='index.html')
      img(src="./assets/images/img/logo-mobile.svg", alt="logo-mobile")
    .header-mobile__wrapper
      a.header-mobile__choose-flat
        img(src='./assets/images/img/choose-flat.svg' alt='choose-flat')
      a.header-mobile__popup-mobile(data-call-mobile-callback-popup='')
        img(src='./assets/images/img/popup-mobile.svg' alt='popup-mobile')
      a.header-mobile__menu
        img(src='./assets/images/img/menu.svg' alt='menu')
