.menu
  .menu-top-wrapper
    .menu-top
      .menu-top__left
        a#menu-top-popup.menu-top__left-button.button(data-modal='consultation' href='#') Замовити дзвінок
        a.menu-top__left-tel(href='tel:+380671106104') +38 067 110 61 04
        a#header-button.menu-top__left-button-mobile.button
          span Обрати квартиру
      a.menu-top__logo(href='index.html')
        img(src="./assets/images/img/logo.svg", alt="logo")
      .menu-top__right
        a#menu-top-right-button.menu-top__right-button.button Обрати квартиру
        a.menu-top__right-popup-mobile(data-call-mobile-callback-popup='')
          img(src='./assets/images/img/popup-mobile.svg' alt='popup-mobile' data-modal='consultation')
        #menu-top-right-button-menu.menu-top__right-button-menu
          span.menu-top__right-text Закрити
          button.menu-top__right-burg
            svg(width='13' height='13' viewbox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M1 1.00001L12 12M1 12L12 1' stroke='#26262C' stroke-width='2')
  .menu-top-360
    a.menu-top-360__logo(href='index.html')
      img(src="./assets/images/img/logo-mobile.svg", alt="logo-mobile")
    .menu-top-360__wrapper
      a.menu-top-360__choose-flat
        img(src='./assets/images/img/choose-flat.svg' alt='choose-flat')
      a.menu-top-360__popup-mobile(data-call-mobile-callback-popup='')
        img(src='./assets/images/img/popup-mobile.svg' alt='popup-mobile')
      a.menu-top-360__menu
        img(src='./assets/images/img/menu.svg' alt='menu')
  .menu-main.row-flex.container-side-padding
    .menu-main__left
      ul.menu-main__left-links
        li.menu-main__left-list
          span 01/
          a.menu-main__left-link(href='complex.html' data-title="Комплекc") Комплекс
        li.menu-main__left-list
          span 02/
          a.menu-main__left-link(href='planning.html' data-title="3D планування") 3D планування
        li.menu-main__left-list
          span 03/
          a.menu-main__left-link(href='#' data-title="Обрати квартиру") Обрати квартиру
        li.menu-main__left-list
          span 04/
          a.menu-main__left-link(href='gallery.html' data-title="Галерея") Галерея
        li.menu-main__left-list
          span 05/
          a.menu-main__left-link(href='promotions-news.html' data-title="Акції та новини") Акції та новини
        li.menu-main__left-list
          span 06/
          a.menu-main__left-link(href='contact.html' data-title="Контакти") Контакти
    .menu-main__right
      .menu-main__right-item.menu-main__right-item-1
        h3.subtitle відділ продажу:
        .text м. Вінниця, вул. Максимовича, 6
      .menu-main__right-item.menu-main__right-item-2
        h3.subtitle будівництво:
        .text м. Вінниця, вул. Максимовича, 21
      .menu-main__right-item.menu-main__right-item-3
        h3.subtitle графік роботи:
        .text.mb10 Пн-Сб: 09:00-19:00
        .text Нд: 10:00-17:00
      .menu-main__right-item.menu-main__right-item-4
        h3.subtitle телефон:
        .text
          a(href="tel:+380671106104") +38 067 110 61 04 
      .menu-main__right-item.menu-main__right-item-5
        h3.subtitle e-mail:
        .text
          a(href='mailto:zkforesthome@gmail.com') zkforesthome@gmail.com
      .menu-main__right-item.menu-main__right-item-6
        h3.subtitle Соціальні мережі:
        .text
          a.mr20(href='https://www.facebook.com' target='_blank') facebook
          a(href='https://www.instagram.com/' target='_blank') instagram
  