extends ../layout/main
	
block meta
	title= '404'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')

block content
	section(class="page404-wrap")
		div(class="page404")
			h1(class="page404__title") 404
			p(class="page404__subtitle") Упс, щось пішло не так =(
			div(class="link-wrap")
				a(class="button button--calypso--green button-green" href='#' onclick="window.history.go(-1);")
					span Назад
				a(class="button button--calypso--green button-green" href="/")
					span На главную

block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug
