
extends ../layout/main
block variable
  -
    var title_page = 'inner-page'
    var id_page = 'id-page-inner-page'
    var class_page = 'class-page-inner-page'
    var breadcrumbsSubitem = [
      {
        label: 'Осінній цінопад',
        link: pagesLink[0].inner-page
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/footer.js')
block content
  include ../includes/breadcrumbs.pug
  .inner-page
    .inner-page__wrapper-big
      .title-inner-page Осінній цінопад
      .inner-page__wrapper-small
        .inner-page__content
          .inner-page__left
            .text
              i.italic-bold Обирай
              |  комфортне
              i.italic-bold  житло 
              |  без переплат
              i.italic-bold  у Вінниці.
            .big-text Житловий комплекс «Forest Home» — той випадок, коли архітектори передбачили всі побажання і зуміли виконати їх. Так на території комплексу облаштовані сучасні дитячі та спортивні майданчики, а також зручні озеленені, квітучі зони відпочинку для всієї родини. Поряд з комплексом розташовані дитячі садочки, школи, паркова зона, торговий центр і ринок «Пасаж». 
            .big-text.mt30.mb20 Forest Home має ряд переваг:
            ul
              li.inner-page__left-list.big-text Розташований в затишному та спокійному районі
              li.inner-page__left-list.big-text Велика кількість паркомісць
              li.inner-page__left-list.big-text Поруч паркова зона для прогулянок і відпочинку
              li.inner-page__left-list.big-text Безліч дитячих та спортивних майданчиків, зон відпочинку
              li.inner-page__left-list.big-text Розташований в затишному та спокійному районі
              li.inner-page__left-list.big-text Безліч дитячих та спортивних майданчиків, зон відпочинку
              li.inner-page__left-list.big-text Поруч паркова зона для прогулянок і відпочинку
              li.inner-page__left-list.big-text Однокімнатні квартири від 41м
                sub 2
                |, двокімнатні квартири від 58м
                sub 2
            .button.button-green Обрати квартиру
          .inner-page__date 25.10.2021
        .inner-page__img
          img(src="./assets/images/img/inner-page-img-1.jpg", alt="inner-page-img-1")


block footer
  include ../includes/footer.pug
block header
  include ../includes/header.pug
