*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@include reset();

.debug {
	z-index: 999999;
	@include debug(rgba(0, 0, 0, .5), 1px solid #ff0);
}

.container {
	@include wrapper();
}


html{
	font-size: 14px;
}
body {
	margin: 0;
	min-width: 320px;
  // transform: translate(0,0);
  // position: relative;
	// line-height: 1.5em;
	// font-family: $default-font;
	overflow-x: hidden;
	// font-size: 14px;
}

// body input, body textarea {
// 	border: none;
// 	outline: none;
// }


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #E2E3E4;
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


/* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $mc;
//   -webkit-box-shadow: inset 0 0 6px #E2E3E4;
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
// }

::-webkit-scrollbar-thumb:window-inactive {
  background: #c1c1c1;
}

// ::selection {
//   background-color: $mc;
//   color: #fff;
// }

::placeholder {
	color: #ccc;
}

:-moz-placeholder {
	color: #ccc;
}

::-webkit-input-placeholder {
	color: #ccc;
}

:-ms-input-placeholder {
	color: #ccc;
}

::-ms-input-placeholder {
	color: #ccc;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}



body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}

body input:required:valid, body textarea:required:valid {
  border-color: green;
}

// img {
//   width: 100%;
//   display: block;
// }

body *:focus {
  outline: none;
}

body.focus-tab--enable *:focus {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 7px;
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}



.iti-flag{
  //background-image: url("../img/flag/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag{
    //background-image: url("../img/flag/flags@2x.png");
  }
}
.intl-tel-input.allow-dropdown .flag-container,.intl-tel-input.separate-dial-code .flag-container{
  @include to(1200px){
    left: 5%;
  }
}
.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=tel],
.intl-tel-input.separate-dial-code input[type=text]{
  @include to(1200px){
    padding-left: 95px
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.custom-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

// .custom-scroll::-webkit-scrollbar-thumb {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
// 	background-color: $mc;
// }

.custom-scroll::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/*! locomotive-scroll v4.0.6 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */html.has-scroll-smooth{overflow:hidden}html.has-scroll-dragging{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.has-scroll-smooth body{overflow:hidden}.has-scroll-smooth [data-scroll-container]{min-height:100vh}[data-scroll-direction=horizontal] [data-scroll-container]{height:100vh;display:inline-block;white-space:nowrap}[data-scroll-direction=horizontal] [data-scroll-section]{display:inline-block;vertical-align:top;white-space:nowrap;height:100%}.c-scrollbar{position:absolute;right:0;top:0;width:11px;height:100%;transform-origin:center right;transition:transform .3s,opacity .3s;opacity:0}.c-scrollbar:hover{transform:scaleX(1.45)}.c-scrollbar:hover,.has-scroll-dragging .c-scrollbar,.has-scroll-scrolling .c-scrollbar{opacity:1}[data-scroll-direction=horizontal] .c-scrollbar{width:100%;height:10px;top:auto;bottom:0;transform:scaleY(1)}[data-scroll-direction=horizontal] .c-scrollbar:hover{transform:scaleY(1.3)}.c-scrollbar_thumb{position:absolute;top:0;right:0;background-color:#000;opacity:.5;width:7px;border-radius:10px;margin:2px;cursor:-webkit-grab;cursor:grab}.has-scroll-dragging .c-scrollbar_thumb{cursor:-webkit-grabbing;cursor:grabbing}[data-scroll-direction=horizontal] .c-scrollbar_thumb{right:auto;bottom:0}
.c-scrollbar {
  z-index: 1000;
}