@include font-face("Inter", "../fonts/Inter-Light/Inter-Light", 300);
@include font-face("Inter", "../fonts/Inter-Regular/Inter-Regular", 400);
@include font-face("Inter", "../fonts/Inter-Regular/Inter-Regular", 500);
@include font-face("Inter", "../fonts/Inter-Regular/Inter-Regular", 500);
// @include font-face("Inter-homepage", "../fonts/Inter-Regular", 400);

@font-face {
    font-family: "Inter-homepage";
    src: url("../fonts/Inter-Regular.ttf");
  }
// @include font-face("Inter", "../fonts/Numbers-Regular/Numbers-Regular", 400);
