$default-font: 'Inter', sans-serif;

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: rgb(135, 135, 151);
$text: #22223e;
$wc: #fff;
$bc: #000;
$bc2: #000;

$mc: #1a2941;
$bg: #fafafa;
$light: #fcfcfc;
$dark: #1a2941;
$gold: #cfa46e;

:root {
  --very-dark-blue: #26262C;
  --white: #fff;
  --green: #89AB26;

  --fz-subtitle: 10px;
  --fz-text: 24px;
  --fz-small-text: 14px;

  --fz-1: 96px;
  --fz-2: 72px;
  --fz-3: 64px;
  --fz-4: 48px;
  --fz-5: 42px;
  --fz-6: 30px;
  --fz-7: 24px;
  --fz-8: 22px;
  --fz-9: 19px;
  --fz-10: 18px;
  --fz-11: 16px;
  --fz-12: 15px;
  --fz-13: 14px;
  --fz-14: 12px;
  --fz-15: 10px;

  --page-side-fields: 70px;
}

// @media (max-width: 1920px) {
//   :root {
//     --header-h: 124px;
//     --h1-size: 96px;
//     --h2-size: 48px;
//     --h3-size: 36px;
//     --h4-size: 24px;
//     --h5-size: 18px;
//     --h6-size: 14px;
//   }
// }

@media (max-width: 1600px) {
  :root {
    --fz-subtitle: 9px;
    --fz-text: 17px;
    --fz-small-text: 12.5222px;

    --fz-1: 60px;
    --fz-2: 52px;
    --fz-3: 44px;
    --fz-4: 32px;
    --fz-5: 28px;
    --fz-6: 20px;
    --fz-7: 17px;
    --fz-8: 17px;
    --fz-9: 16px;
    --fz-11: 12px;
    --fz-12: 11px;
    --fz-13: 12px;
    --fz-14: 10px;

    --page-side-fields: 50px;
  }
}

// @media (max-width: 1200px) {
//   :root {
//     --h1-size: 61px;
//     --h2-size: 33px;
//     --h3-size: 22px;
//     // --h4-size: 18px;
//     // --h5-size: 16px;
//   }
// }

@media (max-width: 992px) {
  :root {
    --fz-small-text: 12px;
    
    --fz-1: 44px;
    // --fz-3: 41px;
    --fz-5: 24px;
    --fz-7: 14px;
    --fz-8: 14px;
    --fz-9: 14px;
    --fz-13: 10px;

    --page-side-fields: 28px;
  }
}
@media (max-width: 576px) {
  :root {
    --fz-1: 36px;
    --fz-2: 38px;
    --fz-3: 38px;
    --fz-5: 22px;
    --fz-15: 9px;
    --page-side-fields: 20px;
  }
}