.loader-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__img {
        clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
    }
}